.picture-list-item {
  height: 200px;
  width: 46%;
}

.picture {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.8s;
}
.lazy{
  height: 200px;
}
.picture:hover {
  border-radius: 0px;
}

@media screen and (min-width: 768px) {
  .lazy{
  height: 300px;
}
  .picture-list-item {
    width: 225px;
    height: 300px;
  }
}

.show-popup {
  display: inline-block;
  text-align: start;
  transition: 1s;
}

.hide-popup {
  display: none;
}

.popup-container {
  padding: 2px;
  position: relative;
  top: -87px;
  right: -60px;
  background-color: rgba(0, 0, 0, 0.41);
  color: white;
  backdrop-filter: blur(1px);
  width: 100px;
  border-radius: 6px;
  animation: slideup 0.5s ease-in-out;
}
@media screen and (max-width: 767px) {
  .popup-container {
    scale: 0.95;
    right: 0px;
  }
}

@keyframes slideup {
  0% {
    transform: scale(0.9);
  }
}

.spanned {
  font-weight: 600;
  font-size: 9px;
}
.popup-text {
  margin: 3px;
  font-size: 7px;
}

.full-img-container {
  min-height: 100vh;
}

.full-image {
  margin: auto;
  width: 100%;
}
